
body {
	background-image: linear-gradient(#e4e4e4 1px, transparent 1px),
		linear-gradient(90deg, #e4e4e4 1px, transparent 1px);
	background-size: 10px 10px, 10px 10px, 2px 2px, 2px 2px;
}
.App {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}
.container{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  }
.item{
  border-bottom: dashed black 1px;
  margin-top: 5px;

}
.hOne{
  font-weight: 900;
  font-size: 50px;
}
.b{
  width: 380px;
  text-align: start;
  font-family: 'Libre Franklin', sans-serif;

}
.red{
  color: #dfa909;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: -10px;
}
.black{
  color: black;
}
.Calories{
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 900;
  font-size: 50px;
}
.Nutritable{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 600;

}
.btn{
  height: 35px;
  margin-left: 10px;
}
.formBlock{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.inputBlock{
  display: flex;
  flex-direction: column;
}
.input{
  width: 370px;
  font-family: 'Libre Franklin', sans-serif;

  font-size: 20px;
  padding-left: 10px;
  caret-color: #7e6109;
}

.inputHelpBloc{
  width: 370px;
  font-size: 13px;
  text-align: start;
}
form{
  padding: 10px;
  margin: 10px;
}




.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #ffc107;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #ffc107;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@media all and (max-width:520px){
  .formBlock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  
  .btn{
    height: 40px;
    margin-left: 0px;
  }
  .b{
    width: 280px;
  }
  
  
}
@media all and (max-width:320px){
  .input{
    width: 280px;
  }
  
  .inputHelpBloc{
    width: 280px;
  }
  .b{
    width: 200px;
  }

    
}